@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: #e8e8eb;
}

.wrapper {
  width: 370px;
  padding: 40px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.wrapper header {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}


form :where(input, select, button) {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}

p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 15px;
}

form input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}

.drop-list .select-box {
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #999;
    cursor: pointer;
    padding: 0 10px; 
  }

.drop-list .select-box select {
    margin: 0;
    font-size: 13px;
    vertical-align: middle; 
    flex: 1; 
  }
  
  form .exchange-rate {
    font-size: 17px;
    margin: 20px 0 30px;
  }
  
  form button {
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: #9c95ef;
  }
  
